@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111;
  color: #ffd52c;
  font-size: 1.75rem;
  mask-image: linear-gradient(to bottom, #0005 30%, #000 30%);
  mask-size: 100% 2px;
  text-shadow: 0 0 0.5rem;
}
